<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <%= render "users/user", user: @user %>
  </div>
</div>

<!--4 Instead of typing a conditional like: 
<% if current_user == @user || !@user.private? || current_user.leaders.include?(@user) %>
we can just use the policy helper method to reference the authorization rules we defined inside of user_policy.rb. All we have to do is pass in the instance of the Class we're evaluating and the action we are authorizing.-->
<% if policy(@user).show? %>
  <div class="row mb-2">
    <div class="col-md-6 offset-md-3">
      <%= render "users/profile_nav", user: @user %>
    </div>
  </div>

  <% @user.own_photos.each do |photo| %>
    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">
        <%= render "photos/photo", photo: photo %>
      </div>
    </div>
  <% end %>
<% end %>
